.buying {
  padding-top: 60px;

  &__banner {
    height: 270px;
    background: url("./img__buying/sub-header-background.jpg") center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      color: #FFF;
      text-align: center;
      font-family: "Fira Sans", sans-serif;
      font-size: 47px;
      font-style: normal;
      font-weight: 400;
      line-height: 48.4px; /* 112.558% */
    }

    p {
      margin-top: 20px;
      color: #CCC;
      text-align: center;
      font-family: "Fira Sans", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px; /* 109.091% */
      display: flex;
      align-items: center;

      a {
        color: #ffffff;
        text-align: center;
        font-family: "Fira Sans", sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px; /* 109.091% */
        display: flex;
        align-items: center;
      }

      span {
        margin: 2px 7px 0 7px;
        font-size: 14px;
        font-family: none !important;
      }

      img {
        margin-right: 5px;
        width: 20px;
        height: 20px;
      }
    }
  }

  &__info {
    display: flex;
    align-items: flex-start;
    &__left {
      margin: 50px 20px 0 0;

      &__filter{
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        margin: 0 0 50px 0 ;
        width: 100%;
        &__button{
          width: 100%;
          align-items: center;
          justify-content: space-around;
          gap: 20px;
          flex-wrap: wrap;
          button{
            width: 291px;
            height: 60px;
            flex-shrink: 0;
            border-radius: 10px;
            border: 2px solid #16B9A7;
            background: #FFF;
            color: #16B9A7;
            text-align: center;
            font-family: Oswald,sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            line-height: 25.714px; /* 142.857% */
          }
          button:hover{
            border: 2px solid #16B9A7;
            background: #16B9A7;
            color: #FFF;
          }
        }

        &__but{
          width: 200px;
          height: 60px;
          border-radius: 10px;
          border: 2px solid #16B9A7;
          background: #FFF;
          color: #16B9A7;
          text-align: center;
          font-family: Oswald,sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 800;
          line-height: 25.714px; /* 142.857% */
        }
        &__but:hover{
          border: 2px solid #16B9A7;
          background: #16B9A7;
          color: #FFF;
        }
      }

      &__top {
        h2 {
          color: #16B9A7;
          text-align: center;
          font-family: "Fira Sans", sans-serif;
          font-size: 28px;
          font-style: normal;
          font-weight: 400;
          line-height: 40px; /* 142.857% */
        }

        p {
          margin-top: 20px;
          color: #16B9A7;
          font-family: "Fira Sans", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; /* 142.857% */
        }
      }

      &__product {
        &__top {
          margin-top: 80px;
          background: #0A7F9C;
          display: flex;

          p {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFF;
            text-align: center;
            font-family: "Fira Sans", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
          }

          &__img {
            width: 104px;
            height: 51px;
          }

          &__title {
            width: 185px;
            height: 51px;
          }

          &__discription {
            width: 456px;
            height: 51px;
          }

          &__price {
            width: 79px;
            height: 51px;
          }
        }

        &__all {
          display: flex;
          flex-direction: column;

          &__one_product_beck{
            background: #f5f5f5;
          }

          &__one_product_beck,
          &__one_product{
            display: flex;
            align-items: center;
            padding: 5px 0;
            &__img,
            &__title,
            &__discription,
            &__price {
              display: flex;
              align-items: center;
              justify-content: center;

              p {
                padding: 0 5px;
              }
            }

            &__img {
              width: 104px;
              height: 91px;
              display: flex;
              align-items: center;
              justify-content: center;
              img{
                width: 60px;
                height: 60px;
              }
            }

            &__title {
              width: 185px;
              height: 51px;

              p {
                color: #021D33;
                text-align: center;
                font-family: "Fira Sans", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 142.857% */
              }
            }

            &__discription {
              width: 446px;
              height: 76px;
              display: flex;
              flex-direction: column;
              span {
                color: #205873;
                text-align: center;
                font-family: "Fira Sans", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 30.8px; /* 220% */
              }

              p {
                color: #16B9A7;
                text-align: center;
                font-family: "Fira Sans", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 142.857% */
              }
            }

            &__price {
              width: 79px;
              height: 91px;

              p {
                color: #16B9A7;
                text-align: center;
                font-family: "Fira Sans", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 142.857% */
              }
            }
          }

        }
      }



      &__discription {
        &__top {
          margin-top: 50px;

          h2 {
            color: #333;
            text-align: center;
            font-family: "Fira Sans", sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 33px; /* 110% */
          }

          p {
            margin: 30px 0;
            color: #121212;
            font-family: "Fira Sans", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
          }
        }

        &__line {
          width: 97%;
          height: 1px;
          background: #E8E8E8;
          margin: 50px 0;
        }

        &__bottom {
          margin: 30px 0 100px 0;

          p {
            color: #121212;
            font-family: "Fira Sans", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
          }
        }
      }
    }

    &__modal {
      &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
      }

      &__content {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        max-width: 90%;
        max-height: 95%;
        text-align: center;
        position: relative;
      }

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
      }

      &__close {
        background-color: #ff4d4d;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 14px;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #ff0000;
        }
      }

      &__body {
        max-height: 90vh;
        overflow: auto;
      }

      &__image {
        width: 100%;
        max-height: 80vh;
        object-fit: contain;
      }
    }

    &__right {
      width: 20%;
      position: sticky;
      top: 100px;
      h3 {
        color: #333;
        font-family: "Fira Sans", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.8px; /* 110% */
        letter-spacing: 1px;
        margin: 40px 0 22px 0;
      }

      h4 {
        color: #333;
        font-family: "Fira Sans", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.8px; /* 110% */
        letter-spacing: 1px;
        margin: 25px 0 15px 0;
      }

      &__nav {
        p {
          color: #16B9A7;
          font-family: "Fira Sans", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22.4px; /* 160% */
        }

        &__line {
          width: 254px;
          height: 1px;
          background: #E8E8E8;
          margin-bottom: 10px;
        }

      }

      &__email {
        color: #16B9A7;
        font-family: "Fira Sans", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        margin-bottom: 10px;
      }

      &__contact {
        margin-bottom: 10px;
        color: #121212;
        font-family: "Fira Sans", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */

      }
      &__email,
      &__contact{
        display: flex;
        align-items: center;
        img {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
      }
    }

  }
}
